
 /* https://www.figma.com/file/NzdP5AErhP4nblWjy9NIX5/Untitled?node-id=1%3A2 */

 * { 
    box-sizing: border-box  ;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

header{
    position: sticky; top: 0px;
    z-index: 200;
}
aside{
    /* position: sticky; top: 15px; */
    font-size: 20px;
    background-color: #1CD1B0;
    z-index: 100;
    width: 100%;
    padding-left: 25px;
}
h1{
    background-color: #00669F;
    padding: 15px 0px;
    color: white;
    margin: 0px;
    font-size: 25px;
    font-weight: normal;
    width: 100%;
    padding-left: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}
h2{
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
}

article{
    background-color: #dbdada;
    border-radius: 50px 50px 0 0;
    height: 550px;
    width: 330px;
    margin-bottom: 140px;
    margin-top: -30px;
    left: 450px;
    position: relative;
    box-shadow: 0px 2px #d6d6d6;
}
p{
    font-size: 15px;
    padding: 12px;
    text-align: justify;
}
.fas{
    color: #CC2424;
    font-size: 2em;
    margin: 5.6% auto auto 5.6%;
    position: absolute;
    z-index: 100;
}

.mas{
    position: sticky;
    font-size: 40px;
    top: 520px;
    left: 90%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #00669F;
    color: white;
    border: 0px; 
}
.perfil.B{
    background-image: url("../img/batman.jpg");
    position: absolute;
    width: 150px;
    height: 150px;
    top: 120px;
    left: 75px;
    background-position: -162px 4px;
    background-size: 430px;
    background-repeat: no-repeat;
    border-radius: 100px;
}
.perfil.W{
    background-image: url("../img/wonderw.jpg");
    position: absolute;
    width: 150px;
    height: 150px;
    top: 120px;
    left: 75px;
    background-position: -80px 4px;
    background-size: 300px;
    background-repeat: no-repeat;
    border-radius: 100px;
}
.perfil.S{
    background-image: url("../img/superman.jpg");
    position: absolute;
    width: 150px;
    height: 150px;
    top: 120px;
    left: 75px;
    background-position: -87px -35px;
    background-size: 345px;
    background-repeat: no-repeat;
    border-radius: 100px;
}


.ver{
    background-color: #00669F;
    color: white;
    font-size: 12px;
    height: 50px;
    width: 100px;
    border: 2pt solid #00669F;
    border-radius: 6px;
    position: relative;
    left: 100px;
}

.fondo{
    height: 270px;
    width: 330px;  
    background-size: contain;
    /* transform: scale(0.5); */
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 35px 35px 0 0;
    position: relative;
    top: 0px;
}
.B{
    background-image: url("../img/bg-batman.jpg");
}
.W{
    background-image: url("../img/bg-wonderw.jpg");
}
.S{
    background-image: url("../img/bg-superman.jpg");
}

.git{
    position: relative;
    left: 985px;
    bottom: 30px;
    width: 102px;
    height: 27px;
}

footer{
    background-color: #00669F;
    width: 100%;
    height: 75px;
    color: white;
    overflow-x: hidden;
}

.derechos {
    font-size: 17px;
    position: relative;
    left: 420px;
    top: 10px;
}



